In [ ]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder 

import warnings
warnings.filterwarnings("ignore")

from google.colab import drive
drive.mount('/gdrive')
#Change current working directory to gdrive
%cd /gdrive

Mounted at /gdrive
/gdrive

# **Import File**

In [ ]:
datafile = r'/gdrive/My Drive/Data Mining/Assignment 5/shopper_intention.csv'
data = pd.read_csv(datafile)

In [ ]:
data.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

# **Split Data into Train and Test Files**

In [ ]:
y = data[['Revenue']]
x = data.drop('Revenue', axis=1)

In [ ]:
 x_train,x_test,y_train,y_test = train_test_split(
     x,
     y,
     test_size=0.2, 
     random_state=42)

In [ ]:
x_train.head
#x_train.shape

<bound method NDFrame.head of        Administrative  Administrative_Duration  ...        VisitorType  Weekend
1785                0                 0.000000  ...  Returning_Visitor    False
10407               2                14.000000  ...  Returning_Visitor    False
286                 0                 0.000000  ...  Returning_Visitor    False
6520                5                49.200000  ...        New_Visitor    False
12251               0                 0.000000  ...        New_Visitor     True
...               ...                      ...  ...                ...      ...
11964              14              1005.608333  ...  Returning_Visitor    False
5191                0                 0.000000  ...  Returning_Visitor     True
5390                0                 0.000000  ...  Returning_Visitor    False
860                 0                 0.000000  ...        New_Visitor    False
7270                7               138.150000  ...  Returning_Visitor     True

[9864 rows x 17 columns]>

In [ ]:
x_test.head
#x_test.shape

<bound method NDFrame.head of        Administrative  Administrative_Duration  ...        VisitorType  Weekend
8916                3               142.500000  ...  Returning_Visitor    False
772                 6               437.391304  ...  Returning_Visitor    False
12250               1                41.125000  ...  Returning_Visitor    False
7793                2               141.000000  ...  Returning_Visitor    False
6601               18               608.140000  ...  Returning_Visitor     True
...               ...                      ...  ...                ...      ...
295                 0                 0.000000  ...  Returning_Visitor    False
3694                0                 0.000000  ...  Returning_Visitor     True
4974                0                 0.000000  ...  Returning_Visitor    False
10383               3                53.000000  ...  Returning_Visitor    False
2611                0                 0.000000  ...  Returning_Visitor    False

[2466 rows x 17 columns]>

# **One Hot Encode**

In [ ]:
dataCols = list(data.columns.values)
print(dataCols)

['Administrative', 'Administrative_Duration', 'Informational', 'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration', 'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay', 'Month', 'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'VisitorType', 'Weekend', 'Revenue']

In [ ]:
#categoricalFeatures = ['Administrative', 'Administrative_Duration', 'Informational', 'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration', 'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay', 'Month',  'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'VisitorType', 'Weekend']

categoricalFeatures = ['Month', 'VisitorType', 'Weekend']

In [ ]:
# OneHotEncoding on Train (fit & transform)
# OneHotEncoding is to be done on Categorical variables.
ohe = OneHotEncoder(handle_unknown='ignore',sparse=False)
x_cat = pd.DataFrame(ohe.fit_transform(x_train[categoricalFeatures]),columns=ohe.get_feature_names(),index=x_train.index)
x_train = pd.concat([x_train,x_cat],axis=1)
x_train.drop(labels=categoricalFeatures,axis=1,inplace=True)
x_train.sample(5)

       Administrative  Administrative_Duration  ...  x2_False  x2_True
4294                0                      0.0  ...       1.0      0.0
11664               1                      0.0  ...       1.0      0.0
2872                0                      0.0  ...       1.0      0.0
7192                7                    204.1  ...       1.0      0.0
640                 3                     86.0  ...       0.0      1.0

[5 rows x 29 columns]

# **K Means Clustering**

In [ ]:
#n_clustersint, default=8
#The number of clusters to form as well as the number of centroids to generate.
kmeans = KMeans(n_clusters=8).fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_

array([0, 6, 0, ..., 0, 0, 0], dtype=int32)

In [ ]:
print(silhouette_score(x_train, kmeans.labels_))

0.5611898845411686

In [ ]:
#init{‘k-means++’, ‘random’, ndarray, callable}, default=’k-means++’
#‘random’: choose n_clusters observations (rows) at random from data for the initial centroids.

kmeans = KMeans(n_clusters=8, init='random').fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.5301113397292162

In [ ]:
#init{‘k-means++’, ‘random’, ndarray, callable}, default=’k-means++’
#‘k-means++’ : selects initial cluster centers for k-mean clustering in a smart way to speed up convergence.

kmeans = KMeans(n_clusters=8, init='k-means++').fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.561111167482274

In [ ]:
#n_initint, default=10
#Number of time the k-means algorithm will be run with different centroid seeds. The final results will be the best output of n_init consecutive runs in terms of inertia.

kmeans = KMeans(n_clusters=8, n_init=25).fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.5613711969122338

In [ ]:
kmeans = KMeans(n_clusters=8, algorithm='elkan').fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.5536759417460347

In [ ]:
kmeans = KMeans(n_clusters=8, random_state=50).fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.5535713820666199

In [ ]:
kmeans = KMeans(n_clusters=5, random_state=50).fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.6256421165873853

In [ ]:
kmeans = KMeans(n_clusters=4, random_state=50).fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.6790926851323413

In [ ]:
kmeans = KMeans(n_clusters=2, random_state=50).fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.7825165715081446

In [ ]:
kmeans = KMeans(n_clusters=5, random_state=50).fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.6256421165873853

In [ ]:
print(silhouette_score(x_train, kmeans.labels_))

0.6256421165873853

In [ ]:
#Add Cluster Number to each datapoint + save file
df_kmeans=x_train
kmeans_predict_train=kmeans.predict(x_train)

df_kmeans['Cluster Number']=kmeans_predict_train


export_csv = df_kmeans.to_csv(r'/gdrive/My Drive/Data Mining/Assignment 5/KmeansClusters_ECG_Train.csv')

In [ ]:
print(df_kmeans.shape)

(9864, 30)

In [ ]:
df_kmeans.head()
#df_kmeans.dtypes

       Administrative  Administrative_Duration  ...  x2_True  Cluster Number
1785                0                      0.0  ...      0.0               4
10407               2                     14.0  ...      0.0               0
286                 0                      0.0  ...      0.0               4
6520                5                     49.2  ...      0.0               4
12251               0                      0.0  ...      1.0               4

[5 rows x 30 columns]

In [ ]:
centroid = kmeans.cluster_centers_
centroid

array([[3.36153199e+00, 1.26032781e+02, 8.18602694e-01, 5.93892911e+01,
        4.79457071e+01, 1.91889866e+03, 8.44061045e-03, 2.38896360e-02,
        8.75821377e+00, 5.23569024e-02, 2.12289562e+00, 2.33880471e+00,
        3.20580808e+00, 3.88215488e+00, 4.08249158e-02, 1.40151515e-01,
        4.20875421e-03, 3.32491582e-02, 2.23063973e-02, 1.29208754e-01,
        2.55892256e-01, 2.98821549e-01, 4.08249158e-02, 3.45117845e-02,
        8.54377104e-02, 3.78787879e-03, 9.10774411e-01, 7.68518519e-01,
        2.31481481e-01],
       [5.25585023e+00, 1.90085946e+02, 1.46801872e+00, 1.03750362e+02,
        1.09115445e+02, 4.80110111e+03, 6.74144877e-03, 2.13399501e-02,
        7.30387680e+00, 6.05304212e-02, 2.14508580e+00, 2.36037441e+00,
        2.93135725e+00, 3.62870515e+00, 3.27613105e-02, 1.20124805e-01,
        4.68018721e-03, 4.05616225e-02, 2.02808112e-02, 6.86427457e-02,
        1.90327613e-01, 4.47737910e-01, 4.68018721e-02, 2.80811232e-02,
        1.87207488e-02, 1.56006240e-03, 9.79719189e-01, 7.83151326e-01,
        2.16848674e-01],
       [7.58955224e+00, 2.74254972e+02, 2.47014925e+00, 2.15052591e+02,
        2.45261194e+02, 1.09848832e+04, 6.06441469e-03, 2.02129811e-02,
        4.29854580e+00, 1.49253731e-02, 2.12686567e+00, 2.38805970e+00,
        2.56716418e+00, 3.40298507e+00, 2.98507463e-02, 8.20895522e-02,
        2.94902991e-17, 5.22388060e-02, 5.97014925e-02, 2.98507463e-02,
        1.04477612e-01, 5.52238806e-01, 2.23880597e-02, 6.71641791e-02,
        5.55111512e-17, 7.46268657e-03, 9.92537313e-01, 7.38805970e-01,
        2.61194030e-01],
       [1.10000000e+01, 3.01400198e+03, 1.50000000e+01, 2.29990417e+03,
        5.77000000e+02, 5.35723778e+04, 2.80784550e-03, 2.15663890e-02,
        3.81914478e-01, 0.00000000e+00, 2.00000000e+00, 2.00000000e+00,
        1.00000000e+00, 8.00000000e+00, 0.00000000e+00, 5.00000000e-01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        5.00000000e-01, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 5.00000000e-01,
        5.00000000e-01],
       [1.53777380e+00, 5.00617682e+01, 2.56146625e-01, 1.41498052e+01,
        1.41814931e+01, 3.86610792e+02, 2.80806652e-02, 5.17278644e-02,
        4.68909389e+00, 6.51467740e-02, 2.11801520e+00, 2.36656236e+00,
        3.17001937e+00, 4.19654299e+00, 3.45701088e-02, 1.43793771e-01,
        1.86261362e-02, 3.60601997e-02, 2.39904634e-02, 1.73893608e-01,
        2.85799434e-01, 2.00566235e-01, 4.61928178e-02, 3.65072269e-02,
        1.69125317e-01, 9.53658173e-03, 8.21338102e-01, 7.73059157e-01,
        2.26940843e-01]])